html,
body {
    background-color: #121215;
}

.solar-system {
    position: relative;
    width: 780px;
    height: 780px;
    margin: auto;
}

.orbit {
    border: 1px dashed #666;
}

#sun,
.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute;
}

#sun,
.orbit,
.orbit+div {
    top: 50%;
    left: 50%;
}

.orbit+div>div {
    top: 0;
    left: 50%;
}

.orbit,
.orbit+div div,
#earth {
    border-radius: 50%;
}

#sun {
    height: 200px;
    width: 200px;
    background-color: #fae20a;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 84px orange;
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 80px;
    width: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
    box-shadow: 0 0 34px #3a4385;
    background: url("https://raw.githubusercontent.com/everdimension-personal/codepen-assets/master/earth_small_150.jpg") no-repeat center center;
    background-size: cover;
}
.earth-orbit,
.earth-spin {
    width: 600px;
    height: 600px;
    margin-left: -295px;
    margin-top: -295px;
}

#moon {
    margin-top: -30px;
    margin-left: -30px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 14px #3a4385;
}
.moon-orbit,
.moon-spin {
    height: 185px;
    width: 185px;
    margin-top: -95px;
    margin-left: -95px;
    border-color: #447;
}


@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-earth {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.control-panel {
    margin-top: 30px;
    margin-left: 20px;
}

.control-panel button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.control-panel button:hover {
    opacity: 0.8;
}

#start-button {
    background-color: #4CAF50;
    color: white;
}

#pause-button {
    background-color: #FF5733;
    color: white;
}

#resume-button {
    background-color: gray;
    color: white;
    display: none;
}

#reset-button {
    background-color: #3498DB;
    color: white;
}

#speed-up-button {
    background-color: #F1C40F;
    color: white;
}

#slow-down-button {
    background-color: #8E44AD;
    color: white;
}


